@import 'media';


// Код для примера
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden;
}

footer{
    position: relative;
    background: #262626;
    height: 324px;
    width: 100%;
    //margin-top: 30px;
    @media @tablet, @desktop{
        height: 58px;
    }
}

li,
ul,
ol,
h2,
h3,
a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

.video-layout h1{
    margin: 15px 0;
    font-size: 2em;
}

.logo {
    margin: auto;
    height: auto;
    width: 200px;
    @media @tablet, @desktop {
        width: 350px;
    }
    //padding-top: 25px;

    .icon-logo{
        fill: #fff;
    }
}

.mobile-menu {
    display: flex;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    //transition: .5s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    @media @desktop, @tablet {
        display: none;
    }

    &__item {
        margin: 0;
        list-style-type: none;
        border-top: 1px solid #ddd;
        width: 100%;
        min-height: 30px;
        padding: 0;
        text-align: center;
        line-height: 1.5em;
        cursor: pointer;
    }

    &__item:last-child {
        border-bottom: 1px solid #ddd;
    }

    &__link {
        color: #FFF;
        text-decoration: none;
    }
}

.mobile-icon {
    //display: inline-block;
    margin: auto 15px;
    background: transparent;
    border: transparent;
    padding: 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 20;
    top: 0;
    left: 0;
    position: relative;
    @media @desktop, @tablet{
        display: none;
    }

    span {
        background: #fff;
        display: block;
        height: 2px;
        margin-top: 5px;

        &:first-child {
            margin-top: 9px;
        }
    }
}

._hide {
    visibility: hidden !important;
}

._show {
    display: block !important;
}

._open {
    transform: rotate(90deg);
    transition: transform .2s ease-in-out;
}

.close-icon {
    background: transparent;
    border: transparent;
    padding: 0;
    height: 32px;
    width: 32px;
    cursor: pointer;
    z-index: 20;
    top: 0;
    left: 0;
    transition: .5s;

    span {
        width: 80%;
        background: #fff;
        display: block;
        height: 2px;
        opacity: 0;
        transition: .5s;

        &:first-child {
            opacity: 1;
            transform: rotate(-45deg) translate(0, 10px);
        }

        &:last-child {
            opacity: 1;
            transform: rotate(45deg) translate(0, -10px);
        }
    }
}

.header {
    top: 0;
    margin: 0;
    padding: 0;
    height: 130px;
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 2000;

    &__top {
        height: 70px;
        background: #5b1dcd;
        display: flex;
        flex-direction: row;
    }

    &__bottom {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background: #212121;
    }


    @media @tablet {
        //background: green; // green on medium devices
    }

    @media @desktop {
        //background: green; // green on medium devices
    }
}

.menu {
    display: none;

    @media @desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 100%;
    }

    @media @tablet {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 100%;
    }

    &-items{
        display: flex;
        max-width: 940px;
    }

    &__item {
        //display: inline-block;
        list-style-type: none;
        background: transparent;
        padding: 21px 15px;
        cursor: pointer;

        &:hover {
            background: black;
        }
    }

    &__link {
        color: #ddd;
        text-transform: uppercase;
        font-size: 11px;
        @media @desktop{
            font-size: 13px;
        }
    }
}

.content {
    padding: 0 10px;
    margin-top: 130px;
    display: block;
}

.breadcrumb {
    display: flex;
    @media @desktop {
        &&.container {
            margin: 0;
            max-width: 100%;
            padding-left: 30px;
        }
    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 18px 0 0;
        @media @tablet {
            margin: 15px 0;
        }
    }

    &__item {
        color: #8b8b8b;

        &:last-child {
            color: red;
        }

        &:first-child&::before {
            content: '';
            padding: 0;
        }

        &::before {
            padding: 3px;
            color: #8b8b8b;
            content: '/';
        }

        &__link{
            color: #8b8b8b;
        }
    }
}

.red {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    margin: 0 auto;
    @media @tablet{
        padding: 0 40px;
        margin: 0 auto;
    }
    @media @desktop{
        max-width: 960px;
        margin: 0 auto;
        padding: 0 10px;
    }
}

.show {
    display: flex;
}

.video-layout {
    width: 100%;
    height: auto;
    position: relative;
    transition: opacity 300s ease-in-out;
    margin: 25px 0;

    &__link {
        justify-content: center;
        display: flex;
        align-items: center;
        transition: opacity 300s ease-in-out;

        &:hover {
            opacity: .5;

            &::after {
                content: '';
                background: #000;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                opacity: .5;
                transition: opacity 300ms ease-in-out;
            }
        }
    }

    &__item{
        display: none;
        //max-height: 500px;
        position: relative;
        margin: 24px 0;
        justify-content: center;
        align-items: center;
        @media @tablet
        {
            margin: 5px;
        }

        &:first-child{
            margin-top: 0;
        }

        &:nth-child(-n+3) {
            display: flex;
        }
    }
}

.m-0 {
    margin: 0;
}

.divider {
    height: 2px;
    width: 100%;
    background: #686868;
    //margin: 5px 0;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.slick-arrow {
    background: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 10.8 6.9' style='enable-background:new 0 0 10.8 6.9;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23111;%7D%0A%3C/style%3E%3Cpath class='st0' d='M5.7,6.8C5.5,7,5.3,7,5.1,6.8l-5-5C0,1.7,0,1.4,0.1,1.2l1.1-1.1C1.4,0,1.7,0,1.8,0.1l3.6,3.6L9,0.1 C9.1,0,9.4,0,9.6,0.1l1.1,1.1c0.2,0.2,0.2,0.4,0,0.6L5.7,6.8z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat;
    border: none;
    //background-color: white;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    opacity: .5;
    fill: black;
    font-size: 0;
    cursor: pointer;
    z-index: 20;
    @media @phone {
        display: none;
    }

    &:hover {
        opacity: 1;
        transition: opacity 300ms ease-in-out;
    }
}

.slick-next {
    transform: rotate(-90deg);
    right: -45px;
    margin-top: -15px;
}

.slick-prev {
    transform: rotate(90deg);
    left: -45px;
    margin-top: -15px;
}

.btn-load-more {
    width: 140px;
    height: 44px;
    background-color: #252525;
    text-align: center;
    display: flex;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-size: 13px;

    &:hover{
        background-color: #111;
    }

    @media @tablet {
        display: none;
    }

    @media @desktop {
        display: none;
    }
}

.play-button-outer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: #333;
    border-radius: 50%;
    opacity: .8;
    cursor: pointer;
    z-index: 1080;
}

.play-button {
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #fff;
    opacity: .9;
    z-index: 1;
}

.play-button-outer:hover {
    opacity: .9;
}

.footer {
    display: flex;
    color: #ddd;
    flex-direction: column;
    margin: 0;
    padding: 30px 20px 20px;
    font-size: 13px;
    @media @tablet, @desktop {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 38px;
    }

    &-links {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        order: 0;
        @media @tablet, @desktop {
            order: -1;
            max-width: 300px;
            margin-right: auto;
        }

        &__items {
            padding-right: 10px;
        }

        &__link {
            color: #ddd;
            text-decoration: none;
        }
    }

    &__location {
        color: #ddd;
        display: flex;
        float: left;
        flex-direction: column;
        order: 0;
        padding: 20px 0;
        @media @tablet, @desktop {
            margin-left: auto;
            padding: 0;
        }

        &__link {
            color: #ddd;
        }
    }

    @media @tablet {
        height: 58px;
    }
}

.social_links {
    display: flex;
    order: 0;
    padding-bottom: 15px;
    @media @tablet, @desktop{
        margin: auto;
        padding: 0;
    }

    &__item {
        height: 19px;
        width: 19px;
        margin-right: 15px;
        @media @desktop {
            width: 25px;
            height: 25px;
        }

        &:first-child {
            margin-right: 5px;
        }
    }
}

.search-fake {
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    right: 20px;
    cursor: pointer;
    @media @tablet {
        top: 21px;
        right: 25px;
    }
    @media @desktop {
        top: 16px;
        right: 35px;
    }
}

.icon-search {
    fill: #fff;
}


.icon-drop {
    position: absolute;
    margin: 0 5px;
    padding-top: 2px;
    //transition: transform .2s ease-in;
}

.city-dropdown {
    margin: 10px 20px;
    position: relative;
    display: block;
    //flex-basis: 20%;
    width: auto;
    height: auto;
    @media @tablet{
        position: absolute;
        top: 10px;
        margin-left: 15px;
    }
    @media @desktop {
        margin-left: 40px;
    }

    &-item {
        font-size: 11px;
        cursor: pointer;

        &__link {
            font-size: 11px;
            cursor: pointer;
            color: white;
        }
    }

    &-content {
        display: none;
        position: absolute;
        top: 43px;
        left: -20px;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to right, #4d7fac, #5b1dcd);
        z-index: 1;
        padding: 15px;
        @media @tablet, @desktop{
            top: 50px;
            left: -40px;
            background: linear-gradient(to left, #4d7fac, #5b1dcd);
        }
    }
}

.dropdown-content-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &__item {
        margin: 0 5px 10px;
    }

    &__link{
        color: white;
    }
}

.close-icon-search {
    display: flex;
    align-items: center;
    position: absolute;
    //top: 15px;
    margin: auto;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.leftright{
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: transform .3s ease-in-out;
}

.rightleft{
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: white;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: transform .3s ease-in-out;
}

.search-fake:hover .leftright{
    transform: rotate(-45deg);
}

.search-fake:hover .rightleft{
    transform: rotate(45deg);
}

.search-panel {
    display: none;
    position: absolute;
    width: 100vw;
    height: 60px;
    background: linear-gradient(to left, #4d7fac, #5b1dcd);
    left: 0;
    top: 130px;
    @media @desktop{
        top: 70px;
    }
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    &__icon {
        fill: white;
        cursor: pointer;
    }
}

input[type='text'] {
    width: 75%;
    text-align: center;
    height: 30px;
    background: transparent;
    color: white;
    border: none;
    font-size: medium;
    @media @phone {
        width: 75%;
    }
}

button[type='submit'] {
    border: transparent;
    background: transparent;
    position: absolute;
    right: 10px;
    @media @desktop {
        right: 35px;
        padding: 0;
    }

    &:hover {
        cursor: pointer;
    }
}

*:focus {
    outline: none;
}