<div class="content">

    <nav class="breadcrumb container">
        <ul class="breadcrumb-nav">
            <li class="breadcrumb__item"><a href="#" class="breadcrumb__item__link">HOME</a></li>
            <li class="breadcrumb__item">VIDEOS</li>
        </ul>
    </nav>

    <section class="container">
    <div>
        <h1>VIDEOS</h1>
        <div class="video-layout__item m-0">
            <a class="video-layout__link" data-fancybox data-small-btn="true" href="https://youtu.be/uOsJouK7YN4">
                <img class="img-fluid" alt="" src="https://img.youtube.com/vi/z8M0Fa1JVco/maxresdefault.jpg" />
                <span class="play-button-outer"><i class="play-button"></i></span>
            </a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
       <hr class="divider">
    </div>
        <div id="Step-by-step" class="video-layout">
        <h1>STEP <span class="red">BY</span> STEP</h1>
        <div class="video-layout-slide" data-video-items>
        <% StepItems.forEach((item) => { %>
        <div class="video-layout__item" data-video-item="<%= item.id;%>">
            <a class="video-layout__link" data-fancybox data-small-btn="true" href="https://youtu.be/<%= item.link; %>">
                <img class="img-fluid" alt="" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg" />
                <span class="play-button-outer"><i class="play-button"></i></span>
            </a>
        </div>
        <% }) %>

        </div>
        <!--<div class="slick-controls">-->
            <!--<span class="next">-->
                <!--<svg width="30px" height="30px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">-->
                    <!--<use xlink:href="img/svg/ico_dropdown.svg#Layer_1"/>-->
                <!--</svg>-->
            <!--</span>-->
            <!--<span class="previous">-->
                <!--<svg width="30px" height="30px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">-->
                    <!--<use xlink:href="img/svg/ico_dropdown.svg#Layer_1"/>-->
                <!--</svg>-->
            <!--</span>-->
        <!--</div>-->

        <span class="btn-load-more">LOAD MORE</span>
    </div>
        <div  id="Craft-education" class="video-layout">

        <h1>CRAFT <span class="red">EDUCATION</span></h1>
        <div class="video-layout-slide" data-video-items>
            <% CraftItems.forEach((item) => { %>
            <div class="video-layout__item" data-video-item="<%= item.id;%>">
                <a class="video-layout__link" data-fancybox data-small-btn="true" href="https://youtu.be/<%= item.link; %>">
                    <img class="img-fluid" alt="" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg" />
                    <span class="play-button-outer"><i class="play-button"></i></span>
                </a>
            </div>
            <% }) %>

        </div>
                  <span class="btn-load-more">LOAD MORE</span>
        </div>

        <div id="Inspiration" class="video-layout">
        <h1>INSPIRATION</h1>
        <div class="video-layout-slide" data-video-items>
            <% InspirationItems.forEach((item) => { %>
            <div class="video-layout__item" data-video-item="<%= item.id;%>">
                <a class="video-layout__link" data-fancybox data-small-btn="true" href="https://youtu.be/<%= item.link; %>">
                    <img class="img-fluid" alt="" src="https://img.youtube.com/vi/<%= item.link; %>/maxresdefault.jpg"/>
                    <span class="play-button-outer"><i class="play-button"></i></span>
                </a>
            </div>
            <% }) %>
        </div>
            <span class="btn-load-more">LOAD MORE</span>
        </div>

    </section>
</div>