<footer>
    <div class="footer">
        <ul class="social_links">
            <li class="social_links__item">
                <a class="social_links__link" href="#" rel="" >
                    <svg fill="#ddd" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_facebook.svg#Facebook_3_"/>
                    </svg>
                </a>
            </li>
            <li class="social_links__item">
                <a class="social_links__link" href="#" rel="" >
                    <svg fill="#ddd" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_twitter.svg#Icons"/>
                    </svg>
                </a>
            </li>
            <li class="social_links__item">
                <a class="social_links__link" href="#" rel="" >
                    <svg fill="#ddd" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_pinterest.svg#Icons"/>
                    </svg>
                </a>
            </li>
            <li class="social_links__item">
                <a class="social_links__link" href="#" rel="" >
                    <svg fill="#ddd" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_youtube.svg#YouTube_2_"/>
                    </svg>
                </a>
            </li>
            <li class="social_links__item">
                <a class="social_links__link" href="#" rel="" >
                    <svg fill="#ddd" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_instagram.svg#Layer_1"/>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="footer__location">
           <span> LOCATION: <a class="footer__location__link" href="#">UNITED STATES</a></span>
            <span>LANGUAGE: <a class="footer__location__link" href="#">ENGLISH</a>
            </span>
        </div>
        <div class="footer-links">
            <ul class="footer-links">
                <li class="footer-links__items"><a class="footer-links__link" href="#" rel="">PRIVACY POLICY</a></li>
                <li class="footer-links__items"><a class="footer-links__link" href="#" >TERMS OF USE</a></li>
                <li class="footer-links__items"><a class="footer-links__link" href="#" >CONTACT US</a></li>
                <li class="footer-links__items"><a class="footer-links__link" href="#" >NEWSLETTER</a></li>
                <li class="footer-links__items"><a class="footer-links__link" href="#" >SITEMAP</a></li>
            </ul>
        </div>
    </div>
</footer>