<header class="header">
    <div class="header__top">
        <span id="mobileIcon" class="mobile-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="logo">

            <object type="image/svg+xml" data="img/svg/logo.svg">
            Your  browser does not support SVG
            </object>

      </span>
    </div>

    <div class="header__bottom">
        <div class="city-dropdown">
            <div id="city-dropdown" class="city-dropdown-item">
                <h3 class="city-dropdown-item__link">NEAREST SALON
                    <svg class="icon-drop" fill="white" width="10px" height="10px" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_dropdown.svg#Layer_1"/>
                    </svg>
                <br>
                <span>Plush Salon 92101</span>

                </h3>
            </div>
            <div id="city-content" class="city-dropdown-content">
                <ul class="dropdown-content-items">
                    <li class="dropdown-content-items__item" data-city><a class="dropdown-content__link">NEAREST SALON
                            Plush Salon 92101</a></li>
                    <li class="dropdown-content-items__item"><a class="dropdown-content__link">NEAREST SALON
                            Plush Salon 92101</a></li>
                    <li class="dropdown-content-items__item"><a class="dropdown-content__link">NEAREST SALON
                            Plush Salon 92101</a></li>
                    <li class="dropdown-content-items__item"><a class="dropdown-content__link">NEAREST SALON
                            Plush Salon 92101</a></li>
                    <li class="dropdown-content-items__item"><a class="dropdown-content__link">NEAREST SALON
                            Plush Salon 92101</a></li>
                </ul>
            </div>
        </div>

        <div class="search-fake">
            <span id="icon-search-fake" class="icon-search">
                <svg width="30px" height="30px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="img/svg/ico_search.svg#Layer_3"/>
                </svg>
            </span>
            <span id="icon-close-search" class="close-icon-search _hide">
                <span class="leftright"></span>
                <span class="rightleft"></span>
            </span>
        </div>
        <div id="search-panel" class="search-panel">
            <form class="search-form">
                <input type="text" placeholder="Поиск" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Поиск'">
                <button type="submit">
                    <svg class="search-form__icon" fill="white" width="30px" height="30px" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="img/svg/ico_search.svg#Layer_3"/>
                    </svg>
                </button>
            </form>
        </div>

        <div class="menu">
            <ul class="menu-items">
             <% menuItems.forEach((item) => { %>
            <li class="menu__item"><a class="menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
            <% }) %>
            </ul>
        </div>
    </div>
</header>