<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TAM TARAM</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- Код для примера -->
     <% const menuItems = [
    {title: 'HairCare', link: '#'},
    {title: 'Color', link: '#'},
    {title: 'Styling', link: '#'},
    {title: 'Texture', link: '#'},
    {title: 'Get inspired', link: '#'},
    {title: 'Social', link: '#'},
    {title: 'News', link: '#'},
    {title: 'About', link: '#'},
    {title: 'Professional', link: '#'}
    ]; %>

    <% const StepItems = [
        {link:'z8M0Fa1JVco' , id:'1'},
        {link:'Wi2KcdoCuo4' , id:'2'},
        {link:'8H6dYUgQKB8' , id:'3'},
        {link:'PZjGrmHdFME' , id:'4'},
        {link:'_wLGr24VeoI' , id:'5'},
        {link:'DG4FAU5qmMY' , id:'6'}
    ];
        const CraftItems =[
            {link:'RmNWNLXmswk' , id:'7'},
            {link:'-tztXOz8Vc0' , id:'8'},
            {link:'-tztXOz8Vc0' , id:'9'},
            {link:'-tztXOz8Vc0' , id:'10'},
            {link:'kUfIVtyydgQ' , id:'11'}
        ];

        const InspirationItems = [
            {link:'VmmwwzR536g' , id:'12'},
            {link:'RmNWNLXmswk' , id:'13'},
            {link:'PZjGrmHdFME' , id:'14'},
            {link:'_wLGr24VeoI' , id:'15'},
            {link:'DG4FAU5qmMY' , id:'16'}
            ]
    %>

<!--STEP BY STEP
    https://youtu.be/z8M0Fa1JVco
    https://youtu.be/Wi2KcdoCuo4
    https://youtu.be/8H6dYUgQKB8
    https://youtu.be/PZjGrmHdFME
    https://youtu.be/_wLGr24VeoI
    https://youtu.be/DG4FAU5qmMY

    CRAFT EDUCATION
    https://youtu.be/RmNWNLXmswk
    https://youtu.be/-tztXOz8Vc0
    https://youtu.be/kUfIVtyydgQ

    INSPIRATION
    https://youtu.be/VmmwwzR536g
    https://youtu.be/vz0k8O-Ef9Y
    https://youtu.be/6oPBFnsqJW8
-->

<div id="mobileMenu" class="mobile-menu js-hide">
    <% menuItems.forEach((item) => { %>
        <ul class="mobile-menu__item">
            <li><a class="mobile-menu__link" href="<%= item.link; %>"><%= item.title %></a></li>
        </ul>
    <% }) %>
</div>

<div class="js-page-wrap">

<% include header.ejs%>

<% include content.ejs%>

<% include footer.ejs%>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
